*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/superover-bg.png');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

#logo{
    margin: 5vh;
    height: 10vh;
    margin-bottom: 2.5vh;
}
/* Designing score boards */
.scoreboard{
    display: inline-block;
    height: 35vh;
    width: 35vh;
    border-radius: 20px;
    padding: 1vh;
    margin: 5vw;
}

section{
    margin: 5vh auto;
}

/* Designing individual score boards */
#ind_scoreboard{
    display: inline-block;
    background-color: #005fa2;
}

#pak_scoreboard{
    display: inline-block;
    background-color: #1fa83d;
}

/* Designing balls */
.ball{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
}

h1{
    margin: 25px;
    font-size: 7.5vh;
    font-weight: 600;
}

h3{
    margin: 25px;
    font-size: 5vh;
    font-weight: 600;
}

/* Designing Buttons */
.button {
    width: 75px;
    height: 75px;
    margin: 0 30px;
}
